@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {

    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 80px;

}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 8px;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

.navbar {

    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;

}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-right,
.navbar-left {

    display: flex;
    width: 50%;

}

.navbar-right {
    justify-content: flex-end;
}

.navbar-left {
    display: flex;
    flex-direction: row;


}


.navbar li {
    list-style: none;
}

#main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    line-height: 50px;
}

#secondary-text {
    font-size: 18px;
    color: #E5E7EB;

}

.main-header-container {

    display: flex;
    width: 80%;
    height: 30vh;
    margin: 0 auto;

}

#first-button {
    background-color: #3882F6;
    border-radius: 7px;
    color: #E5E7EB;
    border: 1px solid #3882F6;
    padding: 2px 15px;
    margin: 10px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-part {
    width: 100%;
    background-color: grey;
}

img {
    width: 100%;
    height: 100%;
}


.left-part,
.right-part {

    width: 50%;
}

/* Info section styling */

.info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.divs-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */

    align-items: center;
    padding: 30px 0px;
    gap: 32px;

}


h2 {

    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 30px;

}

.box {
    width: 150px;
}


.box-image {

    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 5px;

}

p.subtext {
    font-size: 18px;
    text-align: center;

}

/* this styling refers to quote section */

.quote {

    font-size: 36px;
    color: #1F2937;
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: lighter;
    padding: 90px 50px;
    text-align: center;

}

#thomas {
    text-align: right;
    padding-right: 90px;
    font-weight: bold;
    padding-top: 20px;
}


/* Sign up styling section */

.sign-up {


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;


}

.sign-up-container {

    width: 45%;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;

}


.text {
    display: flex;
    flex-direction: column;


}

#call {
    font-size: 20px;
    font-weight: bold;
}

p {
    padding: 0;
    margin: 0;
}

#by-clicking {
    font-size: 13px;
}

.button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

#second {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 5px 20px;
    border: 1px solid #F9FAF8;
}

/* Footer styling */

footer {

    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px;

}